@forward 'globals';
@use 'sass:math';

@function rem($pixel) {
    @if math.is-unitless($pixel) {
        @return math.div($pixel, 16)+rem;
    }

    @else {
        @error 'Don\'t use units when using the rem() function; only numbers.';
    }
}

body {
    width: rem(375);
    margin: 0 auto;

    @media screen and (min-width:48rem) {
        width: rem(768);
    }

    @media screen and (min-width: 80rem) {
        width: rem(1440);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 24px 64px;

    @media screen and (min-width:48rem) {
        margin: 39px 39px 60px;
    }

    @media screen and (min-width: 80rem) {
        margin: 55px 165px 85px;
    }
}

main {
    @media screen and (min-width: 80rem) {
        background-image: url(../assets/shared/pattern-square.svg);
        background-repeat: no-repeat;
        background-position: right -10% top;
    }
}

.first-sec {
    margin-bottom: 24px;

    @media screen and (min-width:48rem) {
        display: flex;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 80rem) {
        margin: 0 165px 30px;
        justify-content: space-between;
    }
}

.intro {
    margin: 0 24px;

    @media screen and (min-width:48rem) {
        margin: 60px 39px;
        max-width: rem(340);
    }

    @media screen and (min-width: 80rem) {
        margin: 60px 0 100px;
        max-width: rem(445);
    }
}

.intro p {
    @media screen and (min-width: 80rem) {
        font-size: rem(18);
    }
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 64px;

    @media screen and (min-width:48rem) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 80rem) {
        margin-top: 40px;
        max-width: rem(340);
    }
}

.mainimg-cont {
    height: 331px;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    object-fit: cover;
    margin-left: 24px;

    @media screen and (min-width:48rem) {
        position: relative;
        height: 425px;
        margin: 0;
    }

    @media screen and (min-width: 80rem) {
        height: 480px;
        width: 540px;
        border-radius: 20px;
    }
}

.keyboardimg {
    height: 100%;
}

.gallery {
    height: 193px;
    overflow: hidden;
    display: flex;
    margin-bottom: 75px;

    @media screen and (min-width:48rem) {
        height: 320px;
        margin: 0 39px 75px;
        justify-content: space-between;
    }

    @media screen and (min-width:80rem) {
        height: 480px;
    }
}

.img-cont1 {
    width: 129px;
    height: 100%;
    border-radius: 20px;
    margin-right: 24px;
    margin-left: -22px;
    overflow: hidden;
    position: relative;

    @media screen and (min-width:48rem) {
        margin-left: 0;
        width: 214px;
    }

    @media screen and (min-width:80rem) {
        width: 255px;
    }
}

.img1 {
    height: 100%;
}

.img-cont1::before {
    content: '';
    background-color: var(--orange);
    mix-blend-mode: multiply;
    position: absolute;
    display: block;
    height: inherit;
    width: inherit;
    overflow: hidden;
    border-radius: inherit;
}

.img-cont2 {
    border-radius: 20px;
    width: 220px;
    overflow: hidden;

    @media screen and (min-width:48rem) {
        width: 445px;
    }
}

.img2 {
    height: 100%;
}

.second-sec {
    text-align: center;
    margin: 0 24px 95px;

    @media screen and (min-width:48rem) {
        margin: 0 39px 142px;
    }
}

.info {
    margin-bottom: 110px;

    @media screen and (min-width:48rem) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
    }
}

.info p {
    @media screen and (min-width:48rem) {
        width: fit-content;
    }
}

.cards {
    @media screen and (min-width:48rem) {
        display: flex;
        flex-wrap: wrap;
        text-align: start;
    }
}

.card {
    margin-bottom: 64px;

    @media screen and (min-width:48rem) {
        max-width: 50%;
        //margin-right: 45px;
    }
}

.card:last-of-type {
    margin-bottom: 0;
}

.card p {

    @media screen and (min-width:48rem) {
        padding-right: 60px;
    }

}

.icon-cont {
    background-color: var(--orange);
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 0 auto 48px;

    @media screen and (min-width:48rem) {
        margin: 0 0 48px;
    }
}

footer {
    text-align: center;
}