@use 'sass:math';

@function rem($pixel) {
    @if math.is-unitless($pixel) {
        @return math.div($pixel, 16)+rem;
    }

    @else {
        @error 'Don\'t use units when using the rem() function; only numbers.';
    }
}

h1,
h2,
h3 {
    font-weight: 900;
    margin-top: 0;
    text-transform: uppercase;
}

h1 {
    line-height: 1;
    font-size: rem(48);
    margin-bottom: 32px;

    @media screen and (min-width: 80rem) {
        font-size: rem(56);
    }
}

h2 {
    line-height: rem(36);
    font-size: rem(32);
    margin: 0 36px 24px;

    @media screen and (min-width:48rem) {
        margin: 0;
    }

    @media screen and (min-width: 80rem) {
        margin-bottom: 27px;
    }
}

h3 {
    line-height: rem(28);
    font-size: rem(24);
    margin: 0 60px 24px;

    @media screen and (min-width:48rem) {
        margin: 0 0 24px;
        padding-right: 140px;
    }

    @media screen and (min-width:80rem) {
        padding-right: 50px;
    }
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    color: var(--mid-blue);
    line-height: rem(26);
}

a,
a:visited,
a:active {
    text-decoration: none;
}

button {
    width: rem(150);
    height: rem(50);
    border-radius: 8px;
    border: none;
    font-family: 'barlow', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;

    @media screen and (min-width:48rem) {
        width: rem(175);
        height: rem(58);
    }
}

.button1 {
    background-color: var(--lt-grey);
    color: var(--dk-blue);
}

.button1:hover {
    background-color: var(--dk-blue);
    color: var(--white);
    cursor: pointer;
}

.button2 {
    background-color: var(--orange);
    color: var(--white);
}

.button2:hover {
    background-color: var(--lt-orange);
    cursor: pointer;
}

//release date
.date {
    margin-bottom: 0;
    line-break: 1;
    text-transform: uppercase;
    font-weight: 700;
}

.bold {
    font-weight: 700;
}